//  Imports
//  ───────────────────────────────────

@import 'config.less';


//  Helpers
//  ───────────────────────────────────

.center-grid {
  margin: 0 auto;
}

.fill-height {
  min-height: 100vh;
}

.fixed-width {
  max-width: @max-width;
}
